/* Global Variables */
:root {
    --mantra-purple: #4B3048;
    --off-white: #fbf9ed;
    --nav-colour-unselected: #A398A3;
    --nav-colour-selected: #EDEBED;
    --font-family: 'CenturyGothicRegular', sans-serif;
}

/* Fonts */
@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../Fonts/CGR/TR\ Century\ Gothic\ Regular.ttf') format('truetype');
}

/* Header */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    font-family: var(--font-family);
    text-decoration: none;
    color: var(--nav-colour-unselected);
    font-size: 13px;
    letter-spacing: 4px;
}

nav ul li a:hover {
    color: var(--nav-colour-selected);
}

.active {
    color: white;
}

.menu-icon {
    display: none;
}

.nav-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--mantra-purple);
    z-index: 1000;
    color: #EDEBED;
}

.nav-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 0;
    width: 100%;
    height: 100%;
}

.nav-container li {
    margin: 10px 0;
}

#close-button {
    padding-bottom: 15px;
}

.nav-container a {
    font-size: 15px;
    margin: 15px 0;
}

/* Media query for screens up to 724px (mobile screens) */
@media screen and (max-width: 724px) {
    /* Hide the normal navigation list for mobile screens */
    .nav-list {
        display: none;
    }

    /* Display the hamburger icon for mobile screens */
    .menu-icon {
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 40px;
        cursor: pointer;
        background-color: var(--mantra-purple);
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        color: #EDEBED;
    }
    
}

/* Body */
body {
    background-color: var(--mantra-purple);
    background-image: url('../Images/mantra-experiance.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-family: 'CenturyGothicRegular', sans-serif;
    text-decoration: none;
    color: var(--off-white);
    font-size: 6em;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
}

.word {
    display: block;
    font-weight: 300;
}

h2 {
    font-family: 'CenturyGothicRegular', sans-serif;
    text-decoration: none;
    color: var(--off-white);
    font-size: 15px;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
}

.cta-button-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--mantra-purple);
    color: var(--off-white);
    font-family: 'CenturyGothicRegular', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0;
}

.cta-button:hover {
    background-color: var(--nav-colour-selected);
    color: var(--mantra-purple);
    transform: scale(1.05);
}

/* Our Philosophy */
.our-philosophy {
    background-color: var(--off-white);
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    opacity: 0.7;
}

.our-philosophy h3 {
    padding-top: 10px;
    font-family: 'CenturyGothicRegular', sans-serif;
    color: var(--mantra-purple);
    font-size: 24px;
    margin-bottom: 10px;
}

.our-philosophy p {
    font-family: 'CenturyGothicRegular', sans-serif;
    color: var(--mantra-purple);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* Phone size alterations */
@media screen and (max-width: 724px) {
    h1 {
        padding-top: 1em;
        font-size: 4em;
    }
}

/* Footer */
.social-icon {
    font-size: 30px;
    color: var(--off-white);
    text-decoration: none;
    margin: 0 10px;
}

.footer-social {
    text-align: center;
    margin-top: 20px;
}









.mySlides img {
    max-width: 100%;
    max-height: 40em; /* Adjust the height as needed */
    display: block;
    margin: 0 auto; /* Center the images horizontally */
}


/* Style for slideshow navigation buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.prev:hover,
.next:hover {
    background-color: var(--mantra-purple); /* Change background color on hover */
}

.prev {
    left: 10px; /* Adjust the distance from the left edge */
}

.next {
    right: 10px; /* Adjust the distance from the right edge */
}
